*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* for all headings Raleway Family*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

/* for <p> and <a> tags roboto family*/
p,a{
    font-family: 'Roboto', sans-serif;
}

/* container class */
.container{
    max-width: 1380px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clear{
    clear: both;
}

/* sidebar css*/
section#sidebar {
    width: 20%;
    background-color: orange;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(rgba(150,50,83,0.9),rgba(255,57,11,0.5)),url("./tech.jpeg");
}


/*  adding padding to brand div*/
.sidebar-brand{
    padding :40px 50px;
}


/* setting margin*/
.sidebar-menu {
    margin-top: 50px;
}

/* display <a> tag as block so that we can apply padding to it, as <a> tag is default as display:inline */
.sidebar-menu ul li a {
    padding: 10px 50px;
    display: block;
    color: #fff;
}
.sidebar-menu ul li span {
    padding-left: 10px;
}

/*adding hover effect on li */
.sidebar-menu ul li:hover {
    background-color: rgba(0,0,0,0.5);
}

/*adding smoothnhover effect on li */
.sidebar-menu ul li {
transition: all 0.7s ease;
}






/* sidebar main-content*/
section#main-content {
    width: 80%;
    background-color: grey;
    height: 100%;
    float: right;    
}

